@{
    ViewData["Title"] = "Akses Ditolak";
}

<div class="text-center">
    <h1 class="text-danger">Akses Ditolak</h1>
    <p>Anda tidak memiliki izin untuk mengakses halaman ini.</p>
    <a asp-controller="BukuTamu" asp-action="Index" class="btn btn-primary">Kembali ke Beranda</a>
</div> 